# Môi trường ảo và bộ nhớ tạm
venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

# Bỏ qua các file gói tin rác (nếu còn sót)
*.pcap
*.pcapng

# (Tùy chọn) Bỏ qua file model .pth nếu dung lượng nó lớn hơn 100MB
# model_final_Application_Label.pth