# Môi trường ảo Python (Rất nặng, không đẩy lên Git)
venv/
.venv/
__pycache__/
*.pyc

# Thư mục lưu file tạm người dùng upload
uploads/*
!uploads/.gitkeep

# File CSDL tạm thời (nếu có)
*.db
*.sqlite3

# Môi trường & IDE
.vscode/
.idea/
.env